<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/changeBowler.css">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <!-- Inserted form for bowler name -->
    <form id="changeBowlerForm">
    <h3>Select Opening Players</h3>
    <div id="bowlerInputContainer" style="display: block;">
        <label for="nextBowler">Who's going to bowl the next over?</label>
        <input type="text" id="nextBowlerName" name="nextBowler" placeholder="Enter bowler's name" list="bowlerList" required>
        <datalist id="bowlerList">
            <!-- Options will be populated by JavaScript -->
        </datalist>
        <div class="done">
            <input type="submit" value="Done">
        </div>
        <!-- <button id="submitBowlerName">Done</button> -->
      </div>
      </form>
      <script src="/javascripts/changeBowler.js" ></script>
</body>
</html> 