body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-color: black;
}

input[type=text] {
    width: 100%;
    padding: 5px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;

}

label {
    color: green;
}

input[type=text]:focus {
    border-bottom: 3px solid green;
}

h3 {
    text-align: center;
    color: green;
}#bowlerInputContainer{
    max-width: 60vw;
    margin:20px auto;
}.done{
    position:relative;
    max-width: 30vw;
padding: 10px 0px;
    margin: 20px auto;
    height:5vh;
  }input[type=submit]{
    position: relative;
    height:100%;
    width:100%;
    background-color:green;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: medium;
  }.done input[type=submit]:hover{
    background-color: rgb(12, 97, 12);
  }