  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url('/images/A_visually_appealing_image_of_a_cricket_stadium_un.jpg') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 500px;
}

h3 {
    text-align: center;
    color: limegreen;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label {
    color: limegreen;
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all 0.3s;
}

input[type="text"]:focus {
    border-color: limegreen;
    outline: none;
}

.start {
    text-align: center;
}

input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover {
    background-color: darkgreen;
    transform: scale(1.05);
}
